* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
}
/* ---------------------- LOGO Y BUSQUEDAD --------------------------- */
.containerHeader {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    height: 10vh;
}
.imageLogo {
    width: 18%;
}
.inputBuscar {
    width: 60%;
    height: 40px;
    padding: 7px;
    border-radius: 4px;
    font-family: 'Roboto Condensed', sans-serif;
    border: 1px solid rgb(216, 216, 216);
    background-image: url(./assets/search.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    cursor: pointer;
}
.headerItemContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pBienvenida {
    font-size: 18px;
    margin-right: 5%;
}
.shoppingCart {
    width: 30px;
    margin-right: 1%;
}
.cantidadArticulo {
    width: 25px;
    height: 25px;
    background: rgba(81,21,106,1);
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    color: white;
}

/* ---------------------- BARRA DE OPCIONES ------------------------ */
.navContainer {
    height: 52px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: black;
}
.opciones {
    text-decoration: none;
    color: white;
    text-align: center;
}
.opciones:hover {
    text-decoration-line: underline;
}
.navItemContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------- MODELOS DE RELOJ Y LISTADO DE COMPRAS ----------------------*/
.sectionContainer {
    display: grid;
    grid-template-columns: 50% 50%;
}
.sectionItemContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow:hidden;
    margin-left: 10%;
}
.imageContainer:hover {
    box-shadow: 0 4px 15px rgb(153 153 153 / 30%);
    transition: 0.3s;
} 
.imageReloj {
    width: 150px;
    height: 170px;
}
.divNamesReloj {
    display: grid;
    width: 250px;
    justify-items: center;
}
.divNamesReloj a {
    text-decoration: none;
    color: black;
    text-align: center;
}
.divNamesReloj p {
    font-weight: bold;
    margin-top: 10px;
}
.buttonAddCart {
    width: 60%;
    height: 40px;
    font-size: 17px;
    margin-top: 10%;
    border-radius: 25px;
    border: none;
    background-image: linear-gradient(65deg, #7d4159 0, #773959 12.5%, #6f3159 25%, #652859 37.5%, #591f59 50%, #4b185a 62.5%, #3a135b 75%, #24125d 87.5%, #00125f 100%);
    color: white;
    cursor: pointer;
}

/* ------------------- LISTA DE COMPRAS ---------------------- */
aside {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.allContainerItems {
    display: grid;
    grid-template-rows: repeat(6, auto);
    width: 45%;
    height: 100vh;
    padding: 10px 15px 10px 10px;
    box-shadow: -1px 0px 14px 2px rgba(153,153,153,1);
    border-radius: 15px;
}
.titleContainer {
    display: flex;
}
.iconFlecha { 
    transform: rotate(180deg);
    width: 12px;
    margin-top: 5px;
}
.pMyshopping {
    font-size: 25px;
    margin-left: 5%;
}
.divItemShop {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 19px;
    align-items: center;
}
.itemShop{
    width: 100px;
    border-radius: 10px;
}
.price {
    font-weight: bold;
}
.imageClose {
    width: 14px;
    cursor: pointer;
}
.containerTotal {
    display: grid;
    height: 35px;
    grid-template-columns: auto 1fr;
    background-color: #F7F7F7;
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 35px;
}
.containerTotal p {
    text-align: end;
    font-weight: bold;
    margin-top: 8px;
}
.containerButton {
    display: flex;
    justify-content: center;
}
.buttonShop {
    background-image: linear-gradient(65deg, #7d4159 0, #773959 12.5%, #6f3159 25%, #652859 37.5%, #591f59 50%, #4b185a 62.5%, #3a135b 75%, #24125d 87.5%, #00125f 100%);
    border-radius: 8px;
    border: none;
    width: 60%;
    height: 50px;
    cursor: pointer;
}
.buttonShop a {
    
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold; 
}
.buttonShop:hover {
    box-shadow: 2px 0px 10px 0 #7d4159 , 2px 0px 3px 0 #00125f;
}

/* --------------------- TARJETAS ------------------ */
.containerDetailCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contenedorFondo {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedorGrid {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
} 

/* ------------------- PARTE FRONTAL DE LA TARJETA ------------------ */
.contenedorFlexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.infoCardFrontal {
    position: relative;
    color: #fff;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 25px;
}
.infoCardFrontal figure img {
    margin-top: 50px;
}
.logoVisa img {
    width: 100px;
    position: absolute;
    top: 50px;
    left: 330px;
}
.chip {
    width: 50px;
    position: absolute;
    top: 70px;
    left: 35px;
}
.informacion {
    position: relative;
    top: -100px;
    padding: 10px; 
}
.flexbox {
    display: flex;
    justify-content: space-between;
    
}
.expiracion {
    margin-right: 10px;
    margin-top: 0;
}

/* ------------------------- PARTE TRASERA DE LA TARJETA ------------------------- */
.infoCardDetras {
    position: relative;
}
.information {
    position: absolute;
    top: 110px;
    left: 360px;
    color: #fff;
    font-size: 20px;
}

/* --------------------------- FORMULARIO ----------------------- */
.formContainerAll {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 50%;
}
.containerGridForm {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}
.containerGridForm label {
    font-size: 14px;
    color: rgb(54, 4, 82);
    font-weight: bold;
}
.containerGridForm input{
    border: 1px solid rgb(229 229 229);
    width: 100%;
    height: 40px;
    border-radius: 10px;
    /* margin-bottom: 20px; */
    text-align: center;
    text-transform: uppercase;
    margin-top: 7px;
}
.alertIsValid {
    color: red;
    font-size: 13px;
    margin-bottom: 30px;
}
.grupoFlexbox {
    display: flex;
    justify-content: space-between;
}
.grupoSelect {
    width: 50%;
    display: flex;
    margin-top: 7px;
}
.select{
    width: 100%;
} 
.select select {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(229 229 229);
}
.positioncvv {
    position: relative;
    bottom: 20px;
} 
.btnEnviar {
    width: 100%;
    height: 50px;
    border: none;
    background-image: linear-gradient(65deg, #7d4159 0, #773959 12.5%, #6f3159 25%, #652859 37.5%, #591f59 50%, #4b185a 62.5%, #3a135b 75%, #24125d 87.5%, #00125f 100%);
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-family: monospace;
}
.btnEnviar:hover {
    box-shadow: 2px 0px 10px 0 #7d4159 , 2px 0px 3px 0 #00125f;
}
.mensajeFinal {
    text-align: center;
    color: #3a135b;
    font-size: 40px;
    font-family: 'Italianno', cursive;
    margin-top: 20px;
}
.containerGridForm input:hover,
.containerGridForm select:hover {
    border: 1px solid rgb(198 76 213);
} 
.containerGridForm input:focus,
.containerGridForm select:focus {
    outline: rgb(4, 4, 4);
    box-shadow: 1px 7px 10px -5px rgba(90, 116, 148, 0.3);
}


/* ------------------- PIE DE PÁGINA ---------------------- */
.footerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 70px;
}
.footerContainer p {
    font-size: 15px;
    color: white;
    margin-right: 2%;
}
.imageContainerApps {
    background-color: white;
    width: 55px;
    height: 50px;
    margin-right: 1%;
    border-radius: 5px;
    text-align: center;
}
.imageContainerApps:hover {
    background-color: #ff4747;
}
.imageApps {
    width: 30px;
    height: 30px;
    margin-top: 15%;
}